/* Style the footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
    padding: 0;

    color: white;
    background-color: rgb(100, 64, 97);
  }
  .footer-copyright {
    display: inline-block;
    margin-left: 1em;
    text-align: left;
  }
  .footer-author {
    display: inline-block;
    margin-left: 20em;
    text-align: right;
  }