/* Style the header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    padding: 0.25em 0.25em 0 0.25em;
    font-size: 1em;
    z-index: 100;

    color: white;
    background-color: rgb(100, 64, 97);
  }

  #logo {
    position: absolute;
    top: .5em;
    left: .5em;
    height: 15vh;
    width: 15vh;
  }

  #site_description {
    position: absolute;
    top: 1.2em;
    left: 7em;
    font-size: 1em;
  }

  nav {
    position: absolute;
    right: 6em;
    top: -.4em;
    width: 10%;
    height: 5%;
    text-align: center;
    padding: 1.2em .5em 0 0;
    background: rgb(100, 64, 97);
  }

  .main_menu:hover{
    cursor: pointer;  
  }
  /* Style the list inside the menu */
  .main_menu>ul>li {
    text-align: left;
    margin-right: 30em;
    padding: .4em 1em .4em 1em;
    z-index: 100;
    background:rgb(100, 64, 97);
  }

  .main_menu>ul>li:first-of-type {
    text-align: left;
    margin-right: 30em;
    padding: .8em 1em .4em 1em;
    z-index: 100;
    background:rgb(100, 64, 97);
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: white;
  }

  li>ul {
    display: none;
  }

  .main_menu:hover>ul {
    display: inline-block;
  }

  .main_menu>ul>li:hover {
    font-weight: bold;
    background-color: rgb(238, 172, 85);
  }
  
  
